// COLORS
$dark-blue: #364051;
$wite-blue: #1c88bf;
$grey: #C4C3C3;


//FONT SIZES
$title-l: 2.1rem; 

// $text-s-size: 1.6rem;

$ss-size: .8rem;
$s-size: 1.6rem;
$m-size: 2.2rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breackpoint: 45rem;