.button__primary {
    background: #1c88bf;
    border: 1px solid $wite-blue;
    border-radius: 3px;
    color: white;
    font-size: $s-size;
    padding: $ss-size;
    font-weight: 600;
    min-width: $xl-size;
    cursor: pointer;
}

.button__success {
    @extend .button__primary;
    background-color: #4CAF50;
}

.button__danger {
    @extend .button__primary;
    background-color: red;
    border: 1px solid red;
}

.button__offer-details {
    @extend .button__primary;
    font-size: 13px;
    background-color: $dark-blue;
    border: 1px solid $dark-blue;
}

.button__relative-wrapper {
    margin-top: $l-size;
    margin-bottom: $ss-size;
    position: relative;
}

.button__offer-details-position {
    position: absolute;
    right: 0px;
    bottom: 0px;
}