.title__page {
    color: $dark-blue;
    text-align: center;
    padding: $s-size;
    font-size: $l-size;
}

.title__offer {
    font-size: $title-l;
    color: $wite-blue;
    padding: 0px;
    margin: 0px;
}

.title__center {
    text-align: center;
}